body {
    font-family: Montserrat, Helvetica, Arial;
    position: relative;
    background-color: #212226;
    color: #efefef
}

nav {
    transition: 1s all ease;
}


.navbar-color {
    background-color: #212226;
}

.navbar-brand i {
    font-size: 2em;
    color: #f4db7d
}

.about p {
    text-align: justify;
}


h1 {
    font-size: 56px;
    font-family: "Titillium Web"
}

h2 {
    font-family: "Bebas Neue";
    opacity: 0.7;
}

h3 {
    font-size: 22px;
}

.inner-container {
    margin-bottom: 2em;
    padding: 1em;
    background-color: #2c2d32;
    border-radius: 0.5em;
}



 
/* ---------- reveal content on scroll down -------- */

.reveal {
    position: relative;
    transform: translateY(100px);
    opacity: 0;
    transition: 1.5s all ease;
}

.reveal.active {
    transform: translateY(0px);
    opacity: 1
}


/*--------- Emphasis span ----------*/
span.highlight {
    color: #f4db7d;
}

span.highlight a {
    color: #f4db7d;
    text-decoration: none;
}

span.highlight a:hover {
    text-decoration: underline;
}



/*--------- Social Media Icons ----------*/
i{
    color: #efefef;
    display: inline-block;
    font-size: 2rem;
}

.icon-link {
    text-decoration: none;
    border: none;
}

section {
    padding-top: 100px;
}

footer {
    background-color: #212226
}


/*--------- Resume Button ----------*/

a.button {
    display: inline-block;
    border: 2px solid #f4db7d ;
    margin: 1em;
    padding: 1em;
    border-radius: 5px;
    transition: transform 0.2s;
    text-decoration: none;
    color: #f4db7d;
    font-weight:300
}

a.button:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}


/*--------- section #intro ----------*/

#intro {
    padding: 0;
    text-align: center;
    background-color: #212226;
}

#intro p {
    color: #9daaf2
}


/*--------- section #about ----------*/

.profile {
    width: 256px;
    height: 256px;
    border-radius: 0.5em;
}

/*--------- section #experience ----------*/

h3.job-title {
    display:inline
}

.company {
    color: #efefef;
    font-style: italic;
}

.date {
    text-align: start;
    font-size: small;
    text-transform: uppercase;
    color:#9daaf2
}

ul.role-description{
    opacity: 0.7;
    list-style-position: inside;
}

/*--------- section #skills ----------*/
.skill-icon {
    width: 100px;
    height: 100px;
}


/*--------- section #projects ----------*/

.accordion-button {
    background-color: #52545e !important;
    color: #efefef !important;
}

.accordion-item {
    background-color: #2c2d32
}

.accordion-body ul {
    opacity: 0.7;
}

/*--------- Media Queries ----------*/

@media only screen and (min-width: 992px) {
    h1 {
        font-size: 84px;
    }

    .date {
        text-align: end;
    }
}