body {
    font-family: Montserrat, Helvetica, Arial;
    position: relative;
    background-color: #212226;
    color: #efefef
}

.about p {
    text-align: justify;
}


h1 {
    font-size: 56px;
    font-family: "Titillium Web";
    text-shadow: 3px 3px #f4db7d
}

h2 {
    font-family: "Bebas Neue";
}

h3 {
    font-size: 22px;
}



.inner-container {
    margin-bottom: 2em;
    padding: 1em;
    background-color: #2c2d32;
    border-radius: 0.5em;
}

/* --------- navbar -------- */

nav {
    transition: 1s all ease;
}


.navbar-color {
    background-color: #212226;
}

.navbar-brand i {
    font-size: 2em;
    color: #f4db7d
}

 
/* ---------- reveal content on scroll down -------- */

.reveal {
    position: relative;
    transform: translateY(100px);
    opacity: 0;
    transition: 1.5s all ease;
}

.reveal.current {
    transform: translateY(0px);
    opacity: 1
}

h2.reveal.current {
    opacity: 0.7;
}


/*--------- Emphasis span ----------*/
span.highlight {
    color: #f4db7d;
}

span.highlight {
    color: #f4db7d;
    text-decoration: none;
}

span.highlight a:hover {
    text-decoration: underline;
}




/*--------- Resume Button ----------*/

a.button {
    display: inline-block;
    border: 2px solid #f4db7d ;
    margin: 1em;
    padding: 1em;
    border-radius: 5px;
    transition: transform 0.2s;
    text-decoration: none;
    color: #f4db7d;
    font-weight:300
}

a.button:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    text-decoration: none;
}


/*--------- section #intro ----------*/

#intro {
    padding: 0;
    text-align: center;
    background-color: #212226;
}

#intro p {
    color: #9daaf2
}


/*--------- section #about ----------*/

.profile {
    width: 256px;
    height: 256px;
    border-radius: 0.5em;
}

/*--------- section #experience ----------*/

h3.job-title {
    display:inline
}

.company {
    color: #efefef;
    font-style: italic;
}

.date {
    text-align: start;
    font-size: small;
    text-transform: uppercase;
    color:#9daaf2
}

ul.role-description{
    color: #bebebe;
    list-style-position: inside;
}


/*--------- section #projects (DESIGN 1) ----------*/

.accordion-button {
    background-color: #52545e !important;
    color: #efefef !important;
}

.accordion-item {
    background-color: #2c2d32
}

.accordion-body ul {
    color: #bebebe;
}

.card {
    width: 95%;
    background-color: #52545e;
    margin: 0;
    padding: 0;
}

.card-title {
    font-size: 20px;
    font-weight: bolder;
    color:#9daaf2
}


/*--------- section #projects (DESIGN 2) ----------*/

/* navigation */ 
span.nav-link {
    cursor: pointer;
    text-decoration: none;
    color: #efefef;
    transition: all 0.2s ease;
}

span.nav-link:hover {
    color:#f4db7d
}

span.nav-link.active {
    color:#f4db7d;
}

/* project container */

.project-container {
    background-color:#2c2d32;
    border-radius: 5px;
    margin-bottom: 1em;
    width: 90%;
    padding: 1em;
    margin-right: 1em;
    display: none;
}

.project-container.active {
    display: block;
}

.project-title {
    font-size: 18px;
}

.project-title-container {
    border-bottom: 1px solid #efefef;
}

.project-designation {
    font-size: 16px;
    opacity: 0.8;
}

.project-designation ~ p {
    font-size: 14px;
}

span.keywords {
    color:#f4db7d;
    font-size: 12px;
}

span.btn {
    margin: 0;
    padding: 0;
    position: absolute;
    right: 10px;
}

span.btn i{
    font-size: 1em;
    color: #efefef !important;
    transition: transform 0.2s ease;
}

span.btn i:hover {
    transform: scale(1.1);
}

span.btn i.active {
    transform: rotate(180deg);
}

.details p {
    font-weight: lighter;
    font-size: 15px;
}

.details {
    display: none;
    opacity: 0;
    transition: all 2s ease;
    margin-top: 5px;
}

.details.active {
    display: block;
    opacity: 1

}

/* miscellaneous */

code {
    color: #efefef;
}

.tech-stack .skill-icon {
    width: 40px;
    height: 40px;
    margin-left: 1em;
}

.shields-io {
    transition: all 0.2s ease;
}

.shields-io:hover {
    transform: scale(1.05);
}

/*--------- section #skills ----------*/

.skill-icon {
    width: 100px;
    height: 100px;
}

/*--------- Social Media Icons (section #contacts) ----------*/

i{
    color: #efefef;
    display: inline-block;
    font-size: 2rem;
}

.icon-link {
    display: inline-block;
    text-decoration: none;
    border: none;
    transition: all 0.3s ease;
}

.icon-link:hover{
    transform: scale(1.1);
}

section {
    padding-top: 100px;
}

footer {
    background-color: #212226
}

/* ------ link styling ---- */
a {
    color: #f4db7d;
    text-decoration: none;
}

a:hover {
    color: #f4db7d;
    text-decoration: underline;
}

/*--------- Media Queries ----------*/

@media only screen and (min-width: 992px) {
    h1 {
        font-size: 84px;
    }

    .date {
        text-align: end;
    }

    .project-container {
        width: 45%;
        display: none;
    }
    .project-container.active {
        display: inline-block;
    }
}